
.dataTables_wrapper {
    background: none repeat scroll 0 0 #f8f8f8 !important;
    box-shadow: 0 1px 0 0 #fff inset !important;
    clear: both !important;
    color: #737373 !important;
    font-size: 11px !important;
    position: relative !important;
}
.dataTables_wrapper label {
    margin: 0 !important;
}
.dataTables_processing {
    background-color: white !important;
    border: 1px solid #ddd !important;
    color: #999 !important;
    font-size: 14px !important;
    height: 30px !important;
    left: 50% !important;
    margin-left: -125px !important;
    margin-top: -15px !important;
    padding: 14px 0 2px !important;
    position: absolute !important;
    text-align: center !important;
    top: 50% !important;
    width: 250px !important;
}
.dataTables_length {
    float: left !important;
    padding: 5px 10px !important;
    width: 40% !important;
}
.dataTables_length .selector {
    width: 50px !important;
}
.dataTables_length select {
    min-width: 50px  !important;
}
.dataTables_filter {
    float: right !important;
    padding: 5px 10px !important;
    text-align: right !important;
    width: 50% !important;
}
.dataTables_filter input {
    background: -moz-linear-gradient(center top , #f4f4f4 0%, #fefefe 100%) repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    border-color: #9d9d9d #d1d1d1 #ececec !important;
    border-style: solid !important;
    border-width: 1px !important;
    color: #737373 !important;
    margin: 0 !important;
    padding: 2px !important;
}
.dataTables_filter input, .dataTables_filter input:hover, .dataTables_filter input:focus {
    transition: background 500ms ease 0s !important;
}
.dataTables_filter input:hover {
    background: none repeat scroll 0 0 #ededed !important;
}
.dataTables_filter input:focus {
    background: none repeat scroll 0 0 #e4e4e4 !important;
    border: 1px solid #d5d5d5 !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(213, 213, 213, 0.6) !important;
}
.dataTables_info {
    float: left !important;
    padding: 10px !important;
    width: 40% !important;
}
.dataTables_paginate {
    float: right !important;
    padding: 10px 5px 5px 0 !important;
    text-align: right !important;
}
.paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next {
    cursor: pointer !important;
    float: left !important;
    height: 18px !important;
    line-height: 1.3 !important;
}
.paginate_disabled_previous:hover, .paginate_enabled_previous:hover, .paginate_disabled_next:hover, .paginate_enabled_next:hover {
    text-decoration: none  !important;
}
.paginate_disabled_previous:active, .paginate_enabled_previous:active, .paginate_disabled_next:active, .paginate_enabled_next:active {
    outline: medium none !important;
}
.paginate_disabled_previous, .paginate_disabled_next {
    color: #cfcecf  !important;
    cursor: default !important;
}
.paginate_disabled_previous, .paginate_enabled_previous {
    padding-left: 23px !important;
}
.paginate_disabled_next, .paginate_enabled_next {
    margin-left: 10px !important;
    padding-right: 23px !important;
}
.paginate_disabled_previous {
    background: url("../img/table/back_disabled.png") no-repeat scroll left center rgba(0, 0, 0, 0) !important;
}
.paginate_enabled_previous {
    background: url("../img/table/back_enabled.png") no-repeat scroll left center rgba(0, 0, 0, 0) !important;
}
.paginate_enabled_previous:hover {
    background: url("../img/table/back_enabled_hover.png") no-repeat scroll left center rgba(0, 0, 0, 0) !important;
}
.paginate_disabled_next {
    background: url("../img/table/forward_disabled.png") no-repeat scroll right top rgba(0, 0, 0, 0) !important;
}
.paginate_enabled_next {
    background: url("../img/table/forward_enabled.png") no-repeat scroll right top rgba(0, 0, 0, 0) !important;
}
.paginate_enabled_next:hover {
    background: url("../img/table/forward_enabled_hover.png") no-repeat scroll right top rgba(0, 0, 0, 0) !important;
}
div.display table {
    background-color: #fafafa  !important;
    border-top: 1px solid #d5d5d5  !important;
    clear: both  !important;
    margin: 0 auto  !important;
    width: 100%  !important;
}
div.display thead tr {
    background-color: #f6f6f6  !important;
}
div.display thead th {
    border: 1px solid #d5d5d5  !important;
    cursor: pointer  !important;
    font-size: 11px  !important;
    font-weight: normal  !important;
    padding: 5px 20px 5px 10px  !important;
    vertical-align: middle  !important;
}
div.display thead th:first-child {
    border-left: medium none  !important;
}
div.display tfoot th {
    border-top: 1px solid #d5d5d5  !important;
    font-weight: bold  !important;
    padding: 3px 18px 3px 10px  !important;
}
div.display tr.heading2 td {
    border-bottom: 1px solid #aaa  !important;
}
div.display td {
    border-bottom: 1px solid #d5d5d5  !important;
    border-left: 1px solid #d5d5d5  !important;
    border-right: 1px solid #d5d5d5  !important;
    padding: 7px  !important;
}
div.display td:first-child {
    border-left: medium none  !important;
}
div.display td.center {
    text-align: center  !important;
}
.sorting_asc {
    background: url("../img/table/sort_asc.png") no-repeat scroll 99% center rgba(0, 0, 0, 0) !important;
}
.sorting_asc:hover {
    background: url("../img/table/sort_asc_hover.png") no-repeat scroll 99% center rgba(0, 0, 0, 0) !important;
}
.sorting_desc {
    background: url("../img/table/sort_desc.png") no-repeat scroll 99% center rgba(0, 0, 0, 0) !important;
}
.sorting_desc:hover {
    background: url("../img/table/sort_desc_hover.png") no-repeat scroll 99% center rgba(0, 0, 0, 0) !important;
}
.sorting {
    background: url("../img/table/sort_both.png") no-repeat scroll 99% center rgba(0, 0, 0, 0) !important;
}
.sorting:hover {
    background: url("../img/table/sort_both_hover.png") no-repeat scroll 99% center rgba(0, 0, 0, 0) !important;
}
.sorting_asc_disabled {
    background: url("../img/table/sort_asc_disabled.png") no-repeat scroll 99% center rgba(0, 0, 0, 0) !important;
}
.sorting_desc_disabled {
    background: url("../img/table/sort_desc_disabled.png") no-repeat scroll 99% center rgba(0, 0, 0, 0) !important;
}
th:active {
    outline: medium none  !important;
}
div.display tr.odd.gradeA {
    background-color: #ddffdd  !important;
}
div.display tr.even.gradeA {
    background-color: #eeffee  !important;
}
div.display tr.odd.gradeC {
    background-color: #ddddff  !important;
}
div.display tr.even.gradeC {
    background-color: #eeeeff  !important;
}
div.display tr.odd.gradeX {
    background-color: #ffdddd  !important;
}
div.display tr.even.gradeX {
    background-color: #ffeeee  !important;
}
div.display tr.odd.gradeU {
    background-color: #ddd  !important;
}
div.display tr.even.gradeU {
    background-color: #eee  !important;
}
tr.odd {
    background-color: #fafafa  !important;
}
tr.even {
    background-color: #f3f3f3  !important;
}
.dataTables_scroll {
    clear: both  !important;
}
.dataTables_scrollBody {
}
.top, .bottom {
    background-color: #f5f5f5 !important;
    border: 1px solid #cccccc !important;
    padding: 15px !important;
}
.top .dataTables_info {
    float: none !important;
}
.clear {
    clear: both !important;
}
.dataTables_empty {
    text-align: center !important;
}
tfoot input {
    color: #444  !important;
    margin: 0.5em 0  !important;
    width: 100%  !important;
}
tfoot input.search_init {
    color: #999  !important;
}
td.group {
    background-color: #d1cfd0  !important;
    border-bottom: 2px solid #a19b9e  !important;
    border-top: 2px solid #a19b9e  !important;
}
td.details {
    background-color: #d1cfd0  !important;
    border: 2px solid #a19b9e  !important;
}
.example_alt_pagination div.dataTables_info {
    width: 40%  !important;
}
.paging_full_numbers {
    font-size: 11px  !important;
    height: 22px  !important;
    line-height: 22px  !important;
    padding: 5px  !important;
    width: 360px  !important;
}
.paging_full_numbers a:active {
    outline: medium none  !important;
}
.paging_full_numbers a:hover {
    text-decoration: none  !important;
}
.paging_full_numbers a.paginate_button, .paging_full_numbers a.paginate_active {
    border: 1px solid #d5d5d5  !important;
    cursor: pointer  !important;
    margin: 0 3px  !important;
    padding: 2px 5px  !important;
}
.paging_full_numbers a.paginate_button {
    background: -moz-linear-gradient(center top , #f8f8f8 0%, #f3f3f3 99%) repeat scroll 0 0 rgba(0, 0, 0, 0)  !important;
    box-shadow: 0 1px 0 0 #fff inset  !important;
}
.paging_full_numbers a.paginate_button:hover, .paging_full_numbers a.paginate_active {
    background: -moz-linear-gradient(center top , #ebebeb 0%, #f4f4f4 100%) repeat scroll 0 0 rgba(0, 0, 0, 0)  !important;
    box-shadow: 0 1px 0 0 #d5d5d5 inset  !important;
    color: #353535  !important;
}
.paging_full_numbers a.paginate_button_disabled, .paging_full_numbers a.paginate_button_disabled:hover {
    background: none repeat scroll 0 0 #fafafa  !important;
    border: 1px solid #e2e2e2  !important;
    box-shadow: none  !important;
    color: #d5d5d5  !important;
    cursor: default  !important;
}
div.display tr.even.row_selected td {
    background: none repeat scroll 0 0 #b0bed9  !important;
}
div.display tr.odd.row_selected td {
    background: none repeat scroll 0 0 #9fafd1  !important;
}
tr.odd.gradeA td.sorting_1 {
    background-color: #c4ffc4  !important;
}
tr.odd.gradeA td.sorting_2 {
    background-color: #d1ffd1  !important;
}
tr.odd.gradeA td.sorting_3 {
    background-color: #d1ffd1  !important;
}
tr.even.gradeA td.sorting_1 {
    background-color: #d5ffd5  !important;
}
tr.even.gradeA td.sorting_2 {
    background-color: #e2ffe2  !important;
}
tr.even.gradeA td.sorting_3 {
    background-color: #e2ffe2  !important;
}
tr.odd.gradeC td.sorting_1 {
    background-color: #c4c4ff  !important;
}
tr.odd.gradeC td.sorting_2 {
    background-color: #d1d1ff  !important;
}
tr.odd.gradeC td.sorting_3 {
    background-color: #d1d1ff  !important;
}
tr.even.gradeC td.sorting_1 {
    background-color: #d5d5ff  !important;
}
tr.even.gradeC td.sorting_2 {
    background-color: #e2e2ff  !important;
}
tr.even.gradeC td.sorting_3 {
    background-color: #e2e2ff  !important;
}
tr.odd.gradeX td.sorting_1 {
    background-color: #ffc4c4  !important;
}
tr.odd.gradeX td.sorting_2 {
    background-color: #ffd1d1  !important;
}
tr.odd.gradeX td.sorting_3 {
    background-color: #ffd1d1  !important;
}
tr.even.gradeX td.sorting_1 {
    background-color: #ffd5d5  !important;
}
tr.even.gradeX td.sorting_2 {
    background-color: #ffe2e2  !important;
}
tr.even.gradeX td.sorting_3 {
    background-color: #ffe2e2  !important;
}
tr.odd.gradeU td.sorting_1 {
    background-color: #c4c4c4  !important;
}
tr.odd.gradeU td.sorting_2 {
    background-color: #d1d1d1  !important;
}
tr.odd.gradeU td.sorting_3 {
    background-color: #d1d1d1  !important;
}
tr.even.gradeU td.sorting_1 {
    background-color: #d5d5d5  !important;
}
tr.even.gradeU td.sorting_2 {
    background-color: #e2e2e2  !important;
}
tr.even.gradeU td.sorting_3 {
    background-color: #e2e2e2  !important;
}
.ex_highlight #example tbody tr.even:hover, #example tbody tr.even td.highlighted {
    background-color: #ecffb3  !important;
}
.ex_highlight #example tbody tr.odd:hover, #example tbody tr.odd td.highlighted {
    background-color: #e6ff99  !important;
}
.ex_highlight_row #example tr.even:hover {
    background-color: #ecffb3  !important;
}
.ex_highlight_row #example tr.even:hover td.sorting_1 {
    background-color: #ddff75  !important;
}
.ex_highlight_row #example tr.even:hover td.sorting_2 {
    background-color: #e7ff9e  !important;
}
.ex_highlight_row #example tr.even:hover td.sorting_3 {
    background-color: #e2ff89  !important;
}
.ex_highlight_row #example tr.odd:hover {
    background-color: #e6ff99  !important;
}
.ex_highlight_row #example tr.odd:hover td.sorting_1 {
    background-color: #d6ff5c  !important;
}
.ex_highlight_row #example tr.odd:hover td.sorting_2 {
    background-color: #e0ff84  !important;
}
.ex_highlight_row #example tr.odd:hover td.sorting_3 {
    background-color: #dbff70  !important;
}
table.KeyTable td {
    border: 3px solid transparent  !important;
}
table.KeyTable td.focus {
    border: 3px solid #3366ff  !important;
}
div.display tr.gradeA {
    background-color: #eeffee  !important;
}
div.display tr.gradeC {
    background-color: #ddddff  !important;
}
div.display tr.gradeX {
    background-color: #ffdddd  !important;
}
div.display tr.gradeU {
    background-color: #ddd  !important;
}
div.box {
    background-color: #e5e5ff  !important;
    border: 1px solid #8080ff  !important;
    height: 100px  !important;
    overflow: auto  !important;
    padding: 10px  !important;
}
.paging_two_button .ui-button {
    cursor: pointer  !important;
    float: left  !important;
}
.paging_full_numbers .ui-button {
    color: #333  !important;
    cursor: pointer  !important;
    margin: 0  !important;
    padding: 2px 6px  !important;
}
.dataTables_paginate .ui-button {
    margin-right: -0.1em !important  !important;
}
.dataTables_paginate {
    width: auto  !important;
}
div.dataTables_wrapper .ui-widget-header {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0)  !important;
    border: medium none  !important;
    font-weight: normal  !important;
}
div.dataTables_wrapper .ui-state-default {
    padding-right: 5px  !important;
}
div.dataTables_wrapper .fg-button {
    height: 16px  !important;
    line-height: 1.2  !important;
    padding: 2px 7px  !important;
}
div.dataTables_wrapper .fg-button:hover {
    background: none repeat scroll 0 0 #d5d5d5 !important;
}
div.display thead th div.DataTables_sort_wrapper {
    padding-right: 20px !important;
    position: relative !important;
}
div.display thead th div.DataTables_sort_wrapper span {
    margin-top: -8px !important;
    position: absolute !important;
    right: 0 !important;
    top: 50% !important;
}
