.EspacamentoLinhas{margin-top: 9px;}
.CorpoPagina{width: 100%;padding: 0;margin: 0 auto;background-color: #F9F9F9;}
.centralizar-conteudo{margin: 0 auto;padding: 0;width: 100%;}

label.HtmlOutputTextResposta{
	font-size: 14px;
	font-weight: bold;
	margin-left: 5px;
	color:#000000;
}
label.HtmlOutputLabelResposta{
	float: right;
	margin-left: 5px;
	font-weight: bold;
}

label.HtmlOutputTextLabelSubtitle{
	font-size: 18px;
	font-weight: bold;
	margin-left: 5px;
	color:#000000;
}


input[type="checkbox"] {
	border: none;
}

.botoes-avanco-pagina{
	margin-left: 5px;
}

#beadcrumBar{width: 100%}

.ui-growl {top: 155px;}

.portal_titulo {
	font-size: 20px;
	font-family: 'Verdana';
	margin-top:10px;
	font-weight: bold;
}

.dataTable {margin-top: 10px;}

.buttonFooter {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: right;
}

.buttonFilter {
	width: 100%;
	margin-top: 5px;
	text-align: right;
}

.lin
{
    FONT-WEIGHT: bold;
    margin-top: 10px;
    FONT-SIZE: 1px;
    COLOR: #C6C6CB;
    FONT-FAMILY: Verdana
}

label.label-5left{margin-left:5px;}
input.input-5left{margin-left:5px;}
span.input-5left{margin-left:5px;}
select.input-5left{margin-left:5px;}

span.painel-contas-footer{
	float: right ;
	margin:15px 5px 15px !important;
	
	
}
label.painel-contas-footer{
	font-size: 24px;
	font-family: 'Verdana';
	font-weight: bold;
	color:#731A42;
}

.botao-voltar{float: left;}

.datalist-parcelas{
	background: url("") repeat scroll 50% 50% transparent;
    border: opx;
}


.ui-spinner-input {
    padding-right: 20px !important;
    text-align: right !important;
    vertical-align: middle !important;
    margin-bottom: 0px !important;
    width: 220px;
}
input, textarea, .uneditable-input {
    width: 100px !important;
}