/* Responsive
-------------------------------------------------- */

/* Desktop large
------------------------- */
@media only screen and (min-width: 1200px) {
  .sidenav {
    width: 258px;
  }
  .sidenav > li > a {
    width: 230px \9; /* Override the previous IE8-9 hack */
  }
}

/* Desktop
------------------------- */
@media only screen and (max-width: 980px) {
  /* Unfloat brand */
  body > .navbar-fixed-top .brand {
    float: left;
    margin-left: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  /* When affixed, space properly */
  .sidenav {
    top: 0;
    margin-top: 30px;
    margin-right: 0;
  }
}

/* Tablet to desktop
------------------------- */
@media only screen and (min-width: 768px) and (max-width: 980px) {
  /* Remove any padding from the body */
  body {
    padding-top: 0;
  }

  /* Adjust sidenav width */
  .sidenav {
    width: 166px;
    margin-top: 202px;
  }
  .sidenav.affix {
    top: 40px;
  }
}

/* Tablet
------------------------- */
@media only screen and (max-width: 767px) {
  /* Remove any padding from the body */
  body {
    padding-top: 0;
  }

header .container .brand {
    left: 36%;
    line-height: 14px !important;
    margin: auto;
    position: absolute;
}
  header .nav a{
      text-align: center;
      padding-top: 5px !important;
      padding-top: 5px\9;
      }
      header .nav a i{
      font-size: 30px;
      }
      header .container .brand{
      line-height: 14px !important;
      }
    header .nav-collapse{
      margin: auto;
      width: 25%;
      border:1px solid #DCDCDC;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      background: #fff;
      }
      header .nav-collapse .nav > li > .dropdown-menu:before, .nav-collapse .nav > li > .dropdown-menu{
        font-size: 12px;
        margin: 0;
        background: #F5F5F5;
      }
      header .nav-collapse .nav > li > a:hover, .nav-collapse .dropdown-menu a:hover{
       
        background-color:none ;
         background:#F03E24;
      }
      header .nav-collapse .nav > li > a:hover, .nav-collapse .dropdown-menu a:hover{
        text-shadow:none;
        background-color:none ;
         background:#F03E24;
         color: #fff;
      }
      #notifications a.btn{
        padding: 10px;
        margin-top: 10px;
      }
      #notifications a i{
        font-size: 41px;
      }
      #notifications .badge, #notifications .label {
        display: none;
      }

  /* Space out the show-grid examples */
  .show-grid [class*="span"] {
    margin-bottom: 5px;
  }

  /* Sidenav */
  .sidenav {
    width: auto;
    margin-bottom: 20px;
  }
  .sidenav.affix {
    position: static;
    width: auto;
    top: 40;
  }
}

/* Landscape phones
------------------------- */
@media only screen and (max-width: 480px) {

  /* Remove padding above jumbotron */
  body {
    padding-top: 0;
  }

  header .nav-collapse{
      margin: auto;
      width: 45%;
      border:1px solid #DCDCDC;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      background: #fff;
      }

      header .container .brand{
        left: 27%;
      }

  /* Change up some type stuff */
  h2 small {
    display: block;
  }

  /* Modal example */
  .modal-example .modal {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
  }
}
